$px10:67%;
$px11:74%;
$px12:80%;
$px13:87%;
$px14:94%;
$px15:100%;
$px16:107%;
$px17:114%;
$px18:120%;
$px19:127%;
$px20:134%;
$px21:140%;
$px22:147%;
$px23:154%;
$px24:160%;
$px25:167%;
$px26:174%;
$px27:180%;
$px28:187%;
$px29:194%;
$px30:200%;
$px31:207%;
$px32:214%;
$px33:221%;
$px34:227%;
$px35:234%;
$px36:240%;
$px37:247%;
$px38:254%;
$px39:260%;
$px40:267%;
$px41:274%;
$px42:280%;
$px43:287%;
$px44:294%;
$px45:300%;
$px46:307%;
$px47:314%;
$px48:320%;
$px49:327%;
$px50:334%;
$px51:340%;
$px52:347%;
$px53:354%;
$px54:360%;
$px55:367%;
$px56:374%;
$px57:380%;
$px58:387%;
$px59:394%;
$px60:400%;
$px61:407%;
$px62:414%;
$px63:420%;
$px64:427%;
$px65:434%;
$px66:441%;
$px67:447%;
$px68:454%;
$px69:460%;
$px70:467%;
$px71:474%;
$px72:480%;